.login h1, .registerhere {
    display: grid;
    justify-items: center;
}

.login h1 {
    font-size: 3em;
    margin-top: 3em;
}

.registerhere {
    padding-top: 3em;
    font-size: larger;
}

.registerhere span a {
    padding-left: 0.3em;
    font-size: large;
    color: var(--purple);
}



