* {
    font-family: var(--main-font);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: var(--main-font);
}

.html {
    border: dashed;
    position: relative;
    min-height: 100vh;
}

button {
    cursor: pointer;
}