footer {
    bottom: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: var(--purple);
    color: white;

    font-size: 1em;
    font-weight: bold;
    padding: 2em;
    margin-top: 10em;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}