.loginform {
    display: grid;
    justify-items: center;
    margin-bottom: 2em;
}

.loginform label {
    font-weight: bolder;
    font-size: 25px;
    padding: 2em 0 0.5em 0;
}

.loginform input[type=text] {
    width: 30%;
    height: 2.5em;
    border: 5px solid var(--purple);
    padding-left: 1em;
    font-size: large;
    font-weight: 600;
}