.register h1, .loginhere {
    display: grid;
    justify-items: center;
}

.register h1 {
    font-size: 3em;
    margin-top: 3em;
}

.loginhere {
    padding-top: 3em;
    font-size: larger;
}

.loginhere span a {
    padding-left: 0.3em;
    font-size: large;
    color: var(--purple);
}